.vertical-filler {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.hl-news-item {
  background: hsl(0, 0%, 5%);
  width: 700px;
  display: flex;
  height: 234px;
  flex-direction: row;
  height: max-content;
  box-shadow: 0 4px 4px 0 #00000044;
  position: relative;

  .hlcard-border {
    padding: 0px;
    border: 16px solid transparent;
    image-rendering: pixelated;
    border-image: url('../../assets/others/CardBorder.png') 8 8 8 8 fill;
    position: absolute;
    filter: brightness(63%) sepia(100%) hue-rotate(270deg) invert(200%) contrast(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .hlnews-tag-date {
    padding: 0.6rem 0;
  }
  .hlnews-tag {
    background: rgb(53, 53, 53);
    font-family: 'Noto Sans';
    padding: 0.1rem 0.2rem;
    font-size: 0.76rem;
    margin-right: 5px;
  }

  .hlnews-date {
    font-family: 'Noto Sans';
    font-size: 11.4px;
    font-weight: 100;
    color:hsl(0, 0%, 80%)
  }

  img {
    width: auto;
    height: 100%;
  }

  .vertical-filler {
    height: 100%;
  }

  .hl-news-item-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 234px;
    justify-content: space-between;
  }

  &-cont {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    padding: 1rem 1.6rem;

    h3 {
      font-family: 'MinecraftTen';
      text-transform: uppercase;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
    }

    p {
      font-family: 'Noto Sans';
      font-size: 0.9rem;
      color: hsl(0, 0%, 90%)
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 0 1rem;
  }
}